snippet #shc "Insert shell bang for c as Script" b
#if 0
_SCRIPT_C_ECHO_OFF=true
_SCRIPT_C_COMPILE_ONLY=false
_SCRIPT_C_ARGUMENTS_AS_COMPILE_OPTIONS=false
_SCRIPT_C_COMPILER_PATH=
_SCRIPT_C_COMPILE_OPTION=
_SCRIPT_C_EXECUTE_OPTION=
source $BASH_CFG/script_c
#endif
endsnippet
